<a href="https://colab.research.google.com/github/danielaquaries20/TugasML_1/blob/master/Python2_op_ifelse_iterasi_list_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=20
print(a)
print(id(a))

20
10751464

In [2]:
a=30
print(a)
print(id(a))

30
10751784

In [3]:
a=[1,2,3,4]
print(a)
print(type(a))
print(id(a))

[1, 2, 3, 4]
<class 'list'>
139850692537792

In [4]:
a[0]=0
print(a)
print(id(a))

[0, 2, 3, 4]
139850692537792

In [5]:
a=int(input("Sample input: "))
print("Expected output: ", a>=100)

Sample input: 13
Expected output:  False

In [6]:
x = 5 + 2 * 3 / (2 - 3) ** 2
print(x)

11.0

In [7]:
a = 5
b = 6

if a==b:
    print("oke")
    print("berhasil")
    print("Gagal")

In [8]:
a = 5
b = 6

if a==b:
    print("oke")
    print("berhasil")
else:
    print("Gagal")

Gagal

In [9]:
bil = int(input("Masukan bilangan bulat: "))

if(bil%2 == 0):
    print("genap")
else:
    print("ganjil")

Masukan bilangan bulat: 15
ganjil

In [10]:
print("Masukan nilai koordinat")
x = int(input("Nilai x: "))
y = int(input("Nilai y: "))

if x>0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran I" )
elif x<0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran II" )
elif x<0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran III" )
elif x>0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran IV" )
else:
    pass

Masukan nilai koordinat
Nilai x: 67
Nilai y: 54
Koordinat (67,54) berada pada Kuadran I

In [11]:
num1 = int(input("First Number : "))
num2 = int(input("Second Number : "))
num3 = int(input("Third Number : "))

#set number1 sebagai yang terbesar
largestNum = num1

#deteksi apakah num2 > num1
if num2 > largestNum:
    largestNum = num2

#deteksi apakah num3 > num2
if num3 > largestNum:
    largestNum = num3

print("The largest number is: ", largestNum)

First Number : 1
Second Number : 3
Third Number : 5
The largest number is:  5

In [12]:
plant = input("Please input a best plant = ")

if plant == "Spathiphyllum":
    print("Yes - Spathiphyllum is the best plant ever!")
elif plant == "spathiphyllum":
    print("No, I want a big Spathiphyllum!")
else:
    print("Spathiphyllum! Not "+ plant +"!")

Please input a best plant = Spathiphyllum
Yes - Spathiphyllum is the best plant ever!

In [13]:
income = float(input("Enter the annual income: "))
tax = 0

if income<85528:
    tax = 0.18 * income - 556.2
else:
    tax = 14839 + 0.2 + 0.32 * (income - 85528)

tax = round(tax, 0)

if tax<0:
    tax = 0

print("The tax is:", tax, "thalers")

Enter the annual income: 332
The tax is: 0 thalers

In [14]:
year = int(input("Enter a year: "))

if year < 1582:
    print("Not within the Gregorian calender period")
else :
    if year % 4 !=0 :
        print("common year")
    elif year % 100 !=0:
        print ("leap year")
    elif year % 400 !=0:
        print("common year")
    else :
        print("leap year")

Enter a year: 2023
common year

In [15]:
x = 5
y = 10
z = 8

print(x > y)
print(y > z)

False
True

In [16]:
x, y, z = 5, 10, 8

print(x > z)
print((y - 5) == x)

False
True

In [17]:
x, y, z = 5, 10, 8
x, y, z = z, y, x

print(x > z)
print((y - 5) == x)

True
False

In [18]:
x = 10

if x == 10:
    print(x == 10)

if x > 5:
    print(x > 5)

if x < 10:
    print(x < 10)
else:
    print("else")

True
True
else

In [19]:
x = "1"

if x == 1:
    print("one")
elif x == "1":
    if int(x) > 1:
        print("two")
    elif int(x) < 1:
        print("three")
    else:
        print("four")

if int(x) == 1:
    print("five")
else:
    print("six")

four
five

In [20]:
x = 1
y = 1.0
z = "1"

if x == y:
    print("one")
if y == z:
    print("two")
    print(x)
    print(y)
elif x == y:
    print("three")
else:
    print("four")

one
three

In [21]:
i = 1

while i<10:
    print(i**2)
    i = i+2

1
9
25
49
81

In [22]:
# program that reads a sequence of numbers
# and counts how many numbers are even and how many are odd
# program terminates when zero is entered

oddNumbers = 0
evenNumbers = 0

# read the first number
number = int(input("Enter a number or type 0 to stop: "))

# 0 terminates execution
while number != 0:
    # check if the number is odd
    if number % 2 == 1:
        # increase the oddNumbers counter
        oddNumbers += 1
    else:
        # increase the evenNumbers counter
        evenNumbers += 1
    # read the next number
    number = int(input("Enter a number or type 0 to stop: "))

# print results
print("Odd numbers count:", oddNumbers)
print("Even numbers count:", evenNumbers)

Enter a number or type 0 to stop: 0
Odd numbers count: 0
Even numbers count: 0

In [23]:
secretNum = 777

guessNum = 0

while guessNum != secretNum:
    guessNum = int(input("Input angka rahasia untuk berhenti : "))
    if guessNum != secretNum:
        print("Perulangan akan terus lanjut...")

print("Well done, Congrats...")

Input angka rahasia untuk berhenti : 3
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 2
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 3
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 0
Perulangan akan terus lanjut...
Input angka rahasia untuk berhenti : 777
Well done, Congrats...

In [24]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [26]:
for i in range(2,18,3):
    print(i)

2
5
8
11
14
17

In [27]:
for i in range(5):
    print(i)
else:
    print("masuk else")

0
1
2
3
4
masuk else

In [28]:
import time

for i in range(5):
    print(i," Missisipi")
    time.sleep(1)

0  Missisipi
1  Missisipi
2  Missisipi
3  Missisipi
4  Missisipi

In [29]:
for i in range (11):
    print(i, end=" ")
    if i==7:
        print(" masih dalam for")
        break

0 1 2 3 4 5 6 7  masih dalam for

In [30]:
# break - example

print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop.

In [31]:
largestNumber = -99999999
counter = 0

while True:
    number = int(input("Enter a number or type -1 to end program: "))
    if number == -1:
        break
    counter += 1
    if number > largestNumber:
        largestNumber = number

if counter != 0:
    print("The largest number is", largestNumber)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: -1
You haven't entered any number.

In [32]:
for i in range (1,11):
    if i % 2 ==0:
        continue
    print(i, end="\t")

1	3	5	7	9

In [33]:
for i in range (1,11):
    if i % 2 ==0:
        print(i)

2
4
6
8
10

In [34]:
# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Inside the loop.", i)
print("Outside the loop.")

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [35]:
largestNumber = -99999999
counter = 0

number = int(input("Enter a number or type -1 to end program: "))

while number != -1:
    if number == -1:
        continue
    counter += 1

    if number > largestNumber:
        largestNumber = number
    number = int(input("Enter a number or type -1 to end program: "))

if counter:
    print("The largest number is", largestNumber)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 12123
Enter a number or type -1 to end program: 21
Enter a number or type -1 to end program: -1
The largest number is 12123

In [36]:
while True:
    word = input("Masukkan Sebuah Kata untuk keluar dari perulangan = ")
    if(word=="chupacabra"):
        break

print("You've successfully left the loop")

Masukkan Sebuah Kata untuk keluar dari perulangan = Halo
Masukkan Sebuah Kata untuk keluar dari perulangan = chupacabra
You've successfully left the loop

In [37]:
# Prompt the user to enter a word
# and assign it to the userWord variable.
userWord = input("Masukkan sebuah kata = ")

for letter in userWord:
    if letter.upper() in ['A','I','U','E','O']:
        continue

    print(letter.upper())

Masukkan sebuah kata = A

In [38]:
blocks = int(input("Enter the number of blocks: "))
current_block = 0
height = 0
i=0

while i<blocks:
    height += 1
    current_block += height
    # print(i,current_block)
    if current_block> blocks:
        break

height -= 1

print("The height of the pyramid:", height)

Enter the number of blocks: 3
The height of the pyramid: 2

In [39]:
for i in range(1, 11):
    if i % 2 !=0:
        print(i,end=' ')

1 3 5 7 9

In [40]:
x=1
while x<11:
    if x % 2 !=0:
        print(x,end=' ')
    x +=1

1 3 5 7 9

In [41]:
for ch in "ratna.lestari@ugm.ac.id":
    if ch == "@":
        break
    print(ch,end=' ')

r a t n a . l e s t a r i

In [42]:
for digit in "0165031806510":
    if digit == "0":
        print ("x")
        continue
    print(digit)

x
1
6
5
x
3
1
8
x
6
5
1
x

In [43]:
n = 3

while n > 0:
    print(n + 1)
    n -= 1
else:
    print(n)

4
3
2
0

In [44]:
n = range(4)

for num in n:
    print(num - 1)
else:
    print(num)

-1
0
1
2
3

In [45]:
for i in range(0, 6, 3):
    print(i)

0
3

In [46]:
x = 1
y = 0

z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [47]:
var1=1
var2=2
var3=3
var4=4
var5=5

#bandingkan

var=[1,2,3,4,5]
print(var)

[1, 2, 3, 4, 5]

In [48]:
num = [2,3,4,5]
print(num)
print(num[2])
print(num[-1])

[2, 3, 4, 5]
4
5

In [49]:
lst = [100,200,300,400,500]
print(lst[-1])
print(lst[-2])
print(lst[-5])

print("\n")
print(lst[4])
print(lst[3])
print(lst[0])

500
400
100


500
400
100

In [50]:
lst=[4,1,6,9,10,8]

print(lst[0:3])
print(lst[1:3])

print(lst[-3:])
print(lst[:-3])

print(lst[:])

[4, 1, 6]
[1, 6]
[9, 10, 8]
[4, 1, 6]
[4, 1, 6, 9, 10, 8]

In [51]:
num=[2,3,4]
num[0],num[1] = num[1], num[0]
print(num)

[3, 2, 4]

In [52]:
myList = [8, 10, 6, 2, 4] # list to sort
swapped = True # it's a little fake - we need it to enter the while loop

while swapped:
    swapped = False # no swaps so far
    for i in range(len(myList) - 1):
        if myList[i] > myList[i + 1]:
            swapped = True # swap occured!
            myList[i], myList[i + 1] = myList[i + 1], myList[i]

print(myList)

[2, 4, 6, 8, 10]

In [53]:
hatList = [1, 2, 3, 4, 5]  # This is an existing list of numbers hidden in the hat.

# Step 1: write a line of code that prompts the user
# to replace the middle number with an integer number entered by the user.

# Step 2: write a line of code here that removes the last element from the list.

# Step 3: write a line of code here that prints the length of the existing list.

print(hatList)

[1, 2, 3, 4, 5]

In [54]:
buah=["Salak","Mangga","Apel"]
buah.append("Jeruk")
print(buah)

['Salak', 'Mangga', 'Apel', 'Jeruk']

In [55]:
myList = [] # creating an empty list

for i in range(5):
    myList.append(i + 1)

print(myList)

[1, 2, 3, 4, 5]

In [56]:
buah = ["durian", "mangga", "apel"]
buah.insert(1,"kiwi")
print (buah)

['durian', 'kiwi', 'mangga', 'apel']

In [57]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [58]:
num = [5,4,3,2,1]

del num[1]
print(num)

[5, 3, 2, 1]

In [59]:
# step 1
beatles = []
print("Step 1:", beatles)

# step 2
beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")
print("Step 2:", beatles)

# step 3
for i in range(2):
    nama = input("Masukkan anggota baru = ")
    beatles.append(nama)
print("Step 3:", beatles)

# step 4
del beatles[-2:]
print("Step 4:", beatles)

# step 5
beatles.insert(0,"Ringo Starr")
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

Step 1: []
Step 2: ['John Lennon', 'Paul McCartney', 'George Harrison']
Masukkan anggota baru = Paul
Masukkan anggota baru = wqdq
Step 3: ['John Lennon', 'Paul McCartney', 'George Harrison', 'Paul', 'wqdq']
Step 4: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 5: ['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']
The Fab 4

In [60]:
lst = [5, 1, 3, 2, 10]
print(lst)
lst.sort()
print(lst)
lst.reverse()
print(lst)

[5, 1, 3, 2, 10]
[1, 2, 3, 5, 10]
[10, 5, 3, 2, 1]

In [61]:
vehiclesOne = ['car', 'bicycle', 'motor']
print(vehiclesOne) # outputs: ['car', 'bicycle', 'motor']

vehiclesTwo = vehiclesOne
del vehiclesOne[0] # deletes 'car'
print(vehiclesTwo) # outputs: ['bicycle', 'motor']
print(vehiclesOne)

['car', 'bicycle', 'motor']
['bicycle', 'motor']
['bicycle', 'motor']

In [62]:
vehiclesOne = ['car', 'bicycle', 'motor']
print(vehiclesOne) # outputs: ['car', 'bicycle', 'motor']

vehiclesTwo = vehiclesOne[:]
del vehiclesOne[0] # deletes 'car'
print(vehiclesTwo) # outputs: ['bicycle', 'motor']
print(vehiclesOne)

['car', 'bicycle', 'motor']
['car', 'bicycle', 'motor']
['bicycle', 'motor']

In [63]:
nama = ["Ana","Budi","Citra"]
kata_kunci = "Budi"

print(kata_kunci not in nama)

if kata_kunci in nama:
    print("Nama "+kata_kunci+" ada di list")

False
Nama Budi ada di list

In [64]:
for i in range(10):
    print(i, end=" ")

print()
for i in range(1,7):
    print(i, end=" ")

print()
for i in range(1,10,2):
    print(i, end=" ")

print()
for i in range(10,-10,-2):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6
1 3 5 7 9
10 8 6 4 2 0 -2 -4 -6 -8

In [65]:
for i in range(1, 11):
    if i%2 != 0:
        print(i, end=" ")

1 3 5 7 9

In [66]:
x = 1
while x < 11:
    if x%2!=0:
        print(x, end=" ")
    x += 1

1 3 5 7 9

In [67]:
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch,end="")

john.smith

In [68]:
for digit in "0165031806510":
    if digit == "0":
        print("x",end="")
        continue
    print(digit,end="")

x165x318x651x

In [69]:
myList = [10, 1, 8, 3, 5]
total = 0

for i in range(len(myList)):
    total += myList[i]

print(total)

27

In [70]:
#squares = [x ** 2 for x in range(10)]
#print (squares)

squares = []
for x in range(10):
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
twos = [2 ** i for i in range(8)]
print(twos)

[1, 2, 4, 8, 16, 32, 64, 128]

In [72]:
squares = []
odds = [x for x in squares if x % 2 != 0 ]
print (odds)

# sama dengan
odds = []
for x in squares:
    if x % 2 != 0:
        odds.append(x)
print (odds)

[]
[]

In [73]:
# Contoh List di dalam List
i = [2,3,4,5]
print(i[0])

k = [[3,5,1],[6,1,8],[9,10,4]]
print(k)
print(k[1])
print(k[1][0])
print(k[-1][-2:])

2
[[3, 5, 1], [6, 1, 8], [9, 10, 4]]
[6, 1, 8]
6
[10, 4]

In [74]:
EMPTY = "-"
board = []

for i in range(8):
    row = [EMPTY for i in range(8)] #membuat satu list
    board.append(row) #membuat 8 list
    print(row)
#print(board)

['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']

In [75]:
EMPTY = "-"
LIMALIMA = "LIMA"
ROOK = "ROOK"
KNIGHT = "KNIGHT"
PAWN = "PAWN"
board = []

for i in range(8):
    row = [EMPTY for i in range(8)]
    board.append(row)

#isi dengan ROOK
board[0][0] = ROOK
board[5][5] = LIMALIMA
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK

#isi dengan KNIGHT
board[4][2] = KNIGHT

#isi dengan PAWN
board[3][4] = PAWN


print(board)
print("\n")

[['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', 'PAWN', '-', '-', '-'], ['-', '-', 'KNIGHT', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', 'LIMA', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK']]

In [76]:
temps = [[0.0 for h in range(2)] for d in range(4)]
print (temps)

[[0.0, 0.0], [0.0, 0.0], [0.0, 0.0], [0.0, 0.0]]

In [77]:
temps = [[0.0 for h in range(24)] for d in range(31)]

# 1. the monthly average noon temperature
sum = 0.0

for day in temps:
    sum += day[11]

average = sum / 31

print("Average temperature at noon:", average)

# 2. the highest temperature during the whole month
highest = -100.0

for day in temps:
    for temp in day:
        if temp > highest:
            highest = temp

print("The highest temperature was:", highest)

# 3.count the days when the temperature at noon was at least 20 
hotDays = 0

for day in temps:
    if day[11] > 20.0:
        hotDays += 1

print(hotDays, "days were hot.")

Average temperature at noon: 0.0
The highest temperature was: 0.0
0 days were hot.

In [78]:
rooms = [[[False for r in range(2)] for f in range(3)] for t in range(4)]
print (rooms)

[[[False, False], [False, False], [False, False]], [[False, False], [False, False], [False, False]], [[False, False], [False, False], [False, False]], [[False, False], [False, False], [False, False]]]

In [79]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]

rooms[1][9][13] = True
rooms[0][4][1] = False

print(rooms)

vacancy = 0

for roomNumber in range(20):
    if not rooms[2][14][roomNumber]:
        vacancy += 1

print(roomNumber)

[[[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]]]
19