<a href="https://colab.research.google.com/github/danielaquaries20/TugasML_1/blob/master/Python3_function_tuple_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Motivasi function adalah perulangan kode

print("Angka 1 :")
a = int(input())
print(a)

print("Angka 2 :")
b = int(input())
print(b)

print("Angka 3 :")
c = int(input())
print(c)

Angka 1 :
1
1
Angka 2 :
2
2
Angka 3 :
3
3

In [2]:
def inputAngka():
    print("Input Angka :")
    a = int(input())
    print(a)

print("Start disini... ")

inputAngka()
inputAngka()
inputAngka()

print("Stop disini... ")

Start disini...
Input Angka :
4
4
Input Angka :
5
5
Input Angka :
6
6
Stop disini...

In [3]:
def pesan(m):
    print("Pesan ",m.lower())

pesan("Hallo")
pesan("Namanya siapa ?")

Pesan  hallo
Pesan  namanya siapa ?

In [4]:
def pesan(nama, nohp):
    print("Nama : ",nama, "No Hp : ",nohp)

pesan("Abu", 123)
pesan("Abu", "0817244")

Nama :  Abu No Hp :  123
Nama :  Abu No Hp :  0817244

In [5]:
def tambahUsia(nama, umur):
    umur = umur + 0.5
    print(nama, umur)

tambahUsia("Abu Salam", 30)

Abu Salam 30.5

In [6]:
def perkenalan(namaDepan, namaBelakang):
    print("Hallo namanya adalah : ", namaDepan, namaBelakang)

perkenalan("Abu","Salam")
perkenalan("Dhita","Aulia")

Hallo namanya adalah :  Abu Salam
Hallo namanya adalah :  Dhita Aulia

In [7]:
perkenalan(namaDepan = "Abu2", namaBelakang = "salam2")
perkenalan(namaBelakang = "aulia2", namaDepan = "dhita2")

Hallo namanya adalah :  Abu2 salam2
Hallo namanya adalah :  dhita2 aulia2

In [8]:
def jumlah(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

jumlah(5,5,4)

5 + 5 + 4 = 14

In [9]:
def introduction(firstName="John",lastName="Smith"):
    print("Hello, my name is", firstName, lastName)

#Call the Function here
introduction(firstName="Abu")
introduction(firstName="Abu", lastName="Salam")
introduction("Abu", lastName="Salam")

Hello, my name is Abu Smith
Hello, my name is Abu Salam
Hello, my name is Abu Salam

In [10]:
def introductionLengkap(firstName, lastName, middleName="Guntur"):
    print("Hello, my name is", firstName, middleName, lastName)

#Call the Function here
introductionLengkap(firstName="Abu", lastName="Salam", middleName="alex")

Hello, my name is Abu alex Salam

In [11]:
def hitungLuasLingkaran(r):
    import math
    pi = math.pi
    luas = pi * r * r
    return luas

# buat sebuah fungsi untuk menghitung luas segitiga
def hitungLuasSegitiga(a,t):
    luas = 0.5 * a * t
    return luas


x = hitungLuasLingkaran(6)
y = hitungLuasSegitiga(5,10)

print(x)
print(y)

113.09733552923255
25.0

In [12]:
def boringFunction():
    print("'Boredom Mode' ON.")
    return 123

print("This Lesson is interesting!")
x = boringFunction()
print(x)
print("test")

This Lesson is interesting!
'Boredom Mode' ON.
123
test

In [13]:
def jumlah(a,b):
    c = a + b
    return c

a = jumlah(3,4)
print(a)

7

In [14]:
def strangeFunction(n):
    if(n % 2 == 0):
        return True

#Call the Function here

print(strangeFunction(4))
print(strangeFunction(3))

True
None

In [15]:
def sumOfList(lst):
    sum = 0

    for elem in lst:
        sum += elem

    return sum

#Call the Function here
x = sumOfList([2,2,2,2,2])
print(x)

10

In [16]:
def strangeListFunction(n):
    strangeList = []

    for i in range(0, n):
        print("Insert",i)
        strangeList.insert(0, i)
        print(strangeList)

    return strangeList

#Call the Function here
print("Hasil : ", strangeListFunction(10))

Insert 0
[0]
Insert 1
[1, 0]
Insert 2
[2, 1, 0]
Insert 3
[3, 2, 1, 0]
Insert 4
[4, 3, 2, 1, 0]
Insert 5
[5, 4, 3, 2, 1, 0]
Insert 6
[6, 5, 4, 3, 2, 1, 0]
Insert 7
[7, 6, 5, 4, 3, 2, 1, 0]
Insert 8
[8, 7, 6, 5, 4, 3, 2, 1, 0]
Insert 9
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
Hasil :  [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [17]:
# Function Test tahun Kabisat
def isYearLeap(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

testData = [1900, 2000, 2016, 1987,2004]
testResults = [False, True, True, False, True]
for i in range(len(testData)):
    yr = testData[i]
    print(yr,"->",end="")
    result = isYearLeap(yr)
    if result == testResults[i]:
        print("OK")
    else:
        print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK
2004 ->OK

In [18]:
def scopeTest():
    print(a)
    b = 120
    print(b)

#Call the Function here

a = 90
scopeTest()

90
120

In [19]:
def myFunction():
    print("Do I know that variable?", var)

#Call the Function here
var = 1
myFunction()
print(var)

# The answer is: a variable existing outside a function
# has a scope inside the functions' bodies.

Do I know that variable? 1
1

In [20]:
def myFunction():
    global var
    var = 2
    print("Do I know that variable?", var)

#Call the Function here
var = 1
myFunction()
print(var)

# There's a special Python method which can extend a variable's scope
# in a way which includes the functions' bodies
# (even if you want not only to read the values, but also to modify them).

Do I know that variable? 2
2

In [21]:
def myFunction(n):
    print("I got", n)
    n += 1
    print("I have", n)

#Call the Function here
var = 1
myFunction(var)

print(var)

#changing the parameter's value doesn't propagate outside the function

I got 1
I have 2
1

In [22]:
def bmi(weight, height):
    return weight / height ** 2

print(bmi(65, 1.69))

22.758306781975424

In [23]:
def bmi(weight, height):
    if height < 1.0 \
    or height > 2.5 \
    or weight < 20 \
    or weight > 200:
        return None

    return weight / height ** 2

print(bmi(70, 1.69))

24.508945765204302

In [24]:
def isItATriangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False

    return True

#Call the Function here
print(isItATriangle(1,1,1))
print(isItATriangle(1,2,2))

True
True

In [25]:
def isItATriangle(a, b, c):
    return a + b > c and b + c > a and c + a > b

a = float(input("Enter the first side's length: "))
b = float(input("Enter the second side's length: "))
c = float(input("Enter the third side's length: "))

if isItATriangle(a, b, c):
    print("Congratulations - it can be a triangle.")
else:
    print("Sorry, it won't be a triangle.")

Enter the first side's length: 3
Enter the second side's length: 2
Enter the third side's length: 4
Congratulations - it can be a triangle.

In [26]:
def factorialFun(n):
    if n < 0:
        return None
    if n < 2:
        return 1

    product = 1
    for i in range(2, n + 1):
        product *= i
    return product

#Call the Function here
for n in range(1, 15): # testing
    print(n, factorialFun(n))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200

In [27]:
def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem1 = elem2 = 1
    sum = 0
    for i in range(3, n + 1):
        sum = elem1 + elem2
        elem1, elem2 = elem2, sum
    return sum

#Call the Function here
for n in range(1, 10): #testing
    print(n, ">", fib(n))

1 > 1
2 > 1
3 > 2
4 > 3
5 > 5
6 > 8
7 > 13
8 > 21
9 > 34

In [28]:
#recursion 1
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

for n in range(1, 10): # testing
    print(n, "->", fib(n))

#recursion 2

def fun(a):
    if a > 30:
        return 3
    else:
        return a + fun(a + 3)


print(fun(25))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34
56

In [29]:
kalimat = "Ibu pergi ke pasar dengan Bapak"
stopw = ['ke','dengan','saya','dia']

def removeStop(sentence):
#     words = []
    words = [word for word in sentence.split() if word not in stopw]
#     for word in sentence.split():
#         if word not in stopw:
#             words.append(word)

    return ' '.join(words)

# print('ke' in kalimat.split())
kalimat_stop = removeStop(kalimat.lower())

print(kalimat_stop)
# output kalimat_stop: Ibu pergi pasar Bapak"

ibu pergi pasar bapak

In [30]:
myTuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
#Print Function here
print(myTuple)

myList = [1, 2, True, "a string", (3, 4), [5, 6], None]
#Print Function here
print(myList)

(1, 2, True, 'a string', (3, 4), [5, 6], None)
[1, 2, True, 'a string', (3, 4), [5, 6], None]

In [31]:
tup1 = (1,2,3,4)
tup2 = 1.0, .5, .25, .124

print(tup1)
print(tup2)

(1, 2, 3, 4)
(1.0, 0.5, 0.25, 0.124)

In [32]:
emptyTuple = ()
print(type(emptyTuple))

<class 'tuple'>

In [33]:
myTuple = (1, 10, 100, 1000)

print(myTuple[0])
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:-2])

for elem in myTuple:
    print(elem, end = " ")

1
1000
(10, 100, 1000)
(1, 10)
1 10 100 1000

In [34]:
myTuple = (1, 10, 100, 1000)

#Tuple operation ?

# myTuple.append(10000)
# del myTuple[0]
# myTuple[1] = -10

In [35]:
myTuple = (1, 10, 100)
print(type(myTuple))

#Tuple operation
print(myTuple[0])
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:-2])
# Print Function here

<class 'tuple'>
1
100
(10, 100)
(1,)

In [36]:
# Example 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

# Example 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

# Example 3
t3 = (1, 2, 3, 5)
print(len(t3))

# Example 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [37]:
kamus = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
phoneNumbers = {'boss' : 5551234567, 'Suzy' : [22657854310,52852352]}
emptyDictionary = {}

print()
print(phoneNumbers)
print(emptyDictionary)

{'boss': 5551234567, 'Suzy': [22657854310, 52852352]}
{}

In [38]:
print(kamus['cat'])
print(phoneNumbers['Suzy'])
print(phoneNumbers['Suzy'][0])

chat
[22657854310, 52852352]
22657854310

In [39]:
dict = {"horse" : "cheval", "cat" : "chat", "dog" : "chien"}

for key in dict.keys():
    print(key,dict[key])

horse cheval
cat chat
dog chien

In [40]:
for key in sorted(dict.keys()):
    print(key, "->", dict[key])

cat -> chat
dog -> chien
horse -> cheval

In [41]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

for english, french in dict.items():
    print(english, "->", french)

cat -> chat
dog -> chien
horse -> cheval

In [42]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

for french in dict.values():
    print(french)

chat
chien
cheval

In [43]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
words = ['cat', 'lion', 'horse','mouse']

for word in words:
    if word in dict:
        print(word, "->", dict[word])
    else:
        print(word, "is not in dictionary")

cat -> chat
lion is not in dictionary
horse -> cheval
mouse is not in dictionary

In [44]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

dict['cat'] = 'minou'
print(dict)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}

In [45]:
dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}

dict['swan'] = 'cygne'
dict['animal'] = 'hewan'
print(dict)

for key in sorted(dict.keys()):
    print(key,dict[key])

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'swan': 'cygne', 'animal': 'hewan'}
animal hewan
cat chat
dog chien
horse cheval
swan cygne

In [46]:
schoolClass = {}

while True:
    name = input("Enter the student's name (or type exit to stop): ")
    if name == 'exit':
        break

    score = int(input("Enter the student's score (0-10): "))

    if name in schoolClass:
        schoolClass[name] += (score,)
    else:
        schoolClass[name] = (score,)

print(schoolClass)

for name in sorted(schoolClass.keys()):
    sum = 0
    counter = 0
    for score in schoolClass[name]:
        sum += score
        counter += 1
    print(name, ":", sum / counter)

Enter the student's name (or type exit to stop): Dan
Enter the student's score (0-10): 9
Enter the student's name (or type exit to stop): exit
{'Dan': (9,)}
Dan : 9.0

In [47]:
def tf(sentence):
    d = {}
    for word in sentence.split():
        if word not in d:
            d[word] = 1
        else:
            d[word] += 1
    return d

kalimat = "Ibu pergi ke pasar dengan Bapak dan Ibu Ibu lain"
stopw.append('dan')
stopw.append('lain')
kalimat_stop = removeStop(kalimat.lower())
tf_kalimat = tf(kalimat_stop)

print(tf_kalimat)

{'ibu': 3, 'pergi': 1, 'pasar': 1, 'bapak': 1}

In [48]:
myTuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
#print(myTuple)

myList = [1, 2, True, "a string", (3, 4), [5, 6], None]
#print(myList)

for r in myTuple[::-1]:
    print(r)

None
[5, 6]
(3, 4)
a string
True
2
1

In [49]:
emptyTuple = ()
print(type(emptyTuple))    # outputs: <class 'tuple'>

<class 'tuple'>

In [50]:
myListTuple = list(myTuple)
print(myListTuple)
myTupleLagi = tuple(myListTuple)
print(myTupleLagi)

[1, 2, True, 'a string', (3, 4), [5, 6], None]
(1, 2, True, 'a string', (3, 4), [5, 6], None)

In [51]:
oneElemTup1 = ("one",  )    # brackets dan koma, kalau tidak ada komanya jadi string
oneElemTup2 = "one",     # no brackets, just a comma

print(type(oneElemTup1))
print(len(oneElemTup1+oneElemTup2))

oneElemList = ['one']
print(type(oneElemList))

<class 'tuple'>
2
<class 'list'>

In [52]:
# Example 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

# Example 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

# Example 3
t3 = (1, 2, 3, 5)
print(len(t3))

# Example 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [53]:
import pprint
pp = pprint.PrettyPrinter(indent=4)

mahasiswa = [
    {
        'nim' : '08/123123/PA/123213',
        'nama' : 'Guntur Budi H',
        'nilai' : [80,90,75,30]
    },
    {
        'nim' : '08/213123/PA/98120',
        'nama' : 'Annisa Maulida N',
        'nilai' : [100,90,77,110]
    }
]
mahasiswa_baru = {
    'nim' : '12/12414/PA/12312',
    'nama' : 'Miftahhurahma Rosyda'
}

mahasiswa.append(mahasiswa_baru)
mahasiswa[0]['nilai'].append(79)
mahasiswa[2]['nilai'] = [80,100,95,25]

#pp.pprint(mahasiswa)
pp.pprint(mahasiswa[0]['nilai'][-1])

79

In [54]:
sinonim = open('files/sinonim.txt','r')
i = 1
for s in sinonim:
#     print(s)
    baris = s.split(':')
    print(baris)
    kata = baris[1].split(',')
    print(baris[0],kata)

FileNotFoundError: [Errno 2] No such file or directory: 'files/sinonim.txt'

In [55]:
paragraf = """
Kisah ini bermula dari seorang dewa dan seorang dewi yang karena kesalahan yang dibuatnya di kayangan, akhirnya harus menjalani hukuman di dunia. Keduanya dihukum untuk berbuat kebaikan dalam hidupnya di bumi dalam bentuk seekor babi hutan dan seekor anjing. Babi hutan jelmaan dewi itu bernama Wayung Hyang, sedangkan anjing jelmaan dewa itu bernama Tumang. Wayung Hyang karena dihukum sebagai babi hutan atau celeng, maka ia berusaha melakukan berbagai kebaikan di dalam sebuah hutan. Sementara Tumang, sang anjing jelmaan dewa itu mengabdi sebagai anjing pemburu pada seorang raja yang bernama Sumbing Perbangkara.
"""

#sintaks ini
kalimat = [k.strip().upper() for k in paragraf.split('.')] #memisahkan kalimat berdasarkan titik untuk menjadi list
# print(kalimat)

#sama dengan ini
kalimat_baru = []
for k in paragraf.split('.'):
    kalimat_baru.append(k.strip())
#     if k.endswith('dunia'):
#         print("Ada Dunia pada kalimat",k)

    if k.find('dunia'):
        print("Ada dunia pada kalimat",k)


#versi satu satu
kalimat_a = paragraf.split('.') #memisahkan kalimat berdasarkan titik di paragraf
kalimat_a[1] =  kalimat_a[1].strip() #menghilangkan spasi
kalimat_a[2] =  kalimat_a[2].strip() #menghilangkan spasi

Ada dunia pada kalimat
Kisah ini bermula dari seorang dewa dan seorang dewi yang karena kesalahan yang dibuatnya di kayangan, akhirnya harus menjalani hukuman di dunia
Ada dunia pada kalimat  Keduanya dihukum untuk berbuat kebaikan dalam hidupnya di bumi dalam bentuk seekor babi hutan dan seekor anjing
Ada dunia pada kalimat  Babi hutan jelmaan dewi itu bernama Wayung Hyang, sedangkan anjing jelmaan dewa itu bernama Tumang
Ada dunia pada kalimat  Wayung Hyang karena dihukum sebagai babi hutan atau celeng, maka ia berusaha melakukan berbagai kebaikan di dalam sebuah hutan
Ada dunia pada kalimat  Sementara Tumang, sang anjing jelmaan dewa itu mengabdi sebagai anjing pemburu pada seorang raja yang bernama Sumbing Perbangkara
Ada dunia pada kalimat

In [56]:
k = "abu salam "
print(k.capitalize())
print(k.endswith("budi h"))

Abu salam
False